@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --color1: #9a1032;
  --color2: #fffbf7;
  --darkcolor1: #700b24;
  --backcolor1: rgb(15, 15, 15);
  --backcolor2: rgb(25,25,25);
  --backcolor3: rgb(45, 45, 45);
}

* {box-sizing: border-box}

body {
  background-color: var(--backcolor1);
  font-family: "Montserrat", sans-serif;
  color: rgb(212, 212, 212);
  margin: auto;
  padding-bottom: 150px;
}


.arrow i {
    margin: 30px;
  }
  
.box {
  width: 75%;
  padding: 50px 50px; /* top right bottom left*/
  background-color: var(--backcolor2);
  border-radius: 25px;
  margin: auto;
    }
  
  /* Add padding to containers */
.container {
    padding: 10px 0px;
}

  
button  {
  padding: 9px 25px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color2);
  background-color: var(--color1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
  
button:hover{
  background-color: var(--darkcolor1);
}
  
  /* Add a red text color to links */
a {
  color: var(--color1);
  transition: all 0.2s ease 0s;
  text-decoration: none;
  font-weight: 700;
}
  
a:hover {
  color: var(--color2)
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


table {
  font-size: 24px;
  border-collapse: collapse;
}

td,th {
	border: 2px solid rgb(155, 155, 155);;
  padding: 10px;
}

th {
  background-color: var(--darkcolor1)
}

tr:nth-child(even) {
  background-color: var(--backcolor1);
}

tr:hover {
  background-color: var(--backcolor3);
}

/* For Ban Page */

.flex{
  display: flex;
  justify-content: center;
}

.flex div {
  flex:50%;
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-color: var(--backcolor3);
  padding: 15px;
  color: var(--color2);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
  
@media (max-width: 650px) {
  .box {
    width: 100%;
    border-radius: 0px;
    padding: 0px 50px;
  }

  body {
    padding-bottom: 0px;
    background-color: var(--backcolor2);
  }
}