.bgcolor {
  background-color: rgb(155, 155, 155);
}

.myHeader {
	background-color: #203354;
	box-shadow: 0 4px 2px -2px #000000;
  font-family: 'Oswald', sans-serif;
}

.fstHeading {
	color: #E8E8E8;
	text-align: center
}

.center {
  text-align: center;
}


.container {
	position: relative;
}
.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.aligned { 
    display: flex;
    align-items:center;
}


.centerTable{
    margin-left: auto;
    margin-right: auto;
}

table {
  border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
  box-shadow: 0 0 4px 2px #000000;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom: 16px;
  padding-top: 30px;
  text-align: center;
  vertical-align: middle;
}

th, td{
  padding: 10px;
}


thead {
  background-color: #333;
  color: #FFF;
}

tbody tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}


tbody th {
  background-color: #385992;
  color: #fff;
  text-align: left;
}



.myImg {
	width: 120px;
	height: auto;
	vertical-align: middle;
}

.myImg:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


.imagenes {
  box-shadow: 0 0 1px 1px #000000;
  -webkit-filter: grayscale(0);
  filter: none;
}

.imagenes:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}




.sendRight {
	float: right;
}