@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color1: #9a1032;
    --color2: #fffbf7;
    --darkcolor1: #700b24;
    --backcolor: rgb(15, 15, 15);
}

body {
  background-color: rgb(15, 15, 15);
}

@media only screen and (min-width: 880px){
    .small-dev{
    display: none;
    }
  }

  @media only screen and (max-width: 880px){
    .big-dev{
    display: none;
    }
  }


.activee.fade-right {
  animation: fade-right 1s ease-in;
}

.activee.fade-right-slow {
  animation: fade-right 2s ease-in;
}

@keyframes fade-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.activee.fade-left {
  animation: fade-left 1s ease-in;
}

.activee.fade-left-slow {
  animation: fade-left 2s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.activee {
  opacity: 1;
}

/* NAVBAR */


li, a, .login-bt {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

li, a {
  color: var(--color1);
}

nav {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 50px;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: var(--backcolor);
}

.logo {
  cursor: pointer;
  width: 25px;
}

.logo-text {
  cursor: pointer;
  width: 190px;
}

.nav__links {
  list-style:none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 15px;
  margin-right: auto;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--darkcolor1);
}

.login-bt {
  padding: 9px 25px;
  color: var(--color2);
  background-color: var(--color1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login-bt:hover {
  background-color: var(--darkcolor1);
}

.hamburger {
  background-color: transparent;
  border: none;
  color: var(--color1);
  cursor: pointer;
  display: none;
}

.hamburger i {
  font-size: 50px;
}

.hamburger:focus {
  outline: none;
}

@media screen and (max-width: 920px) {
  nav {
      padding: 3px 50px;
  }

  .nav__links {
      display: none;
      width: 100%;
  }

  .nav__links.show {
      display: flex;
  }

  .login-bt {
      display: none;
  }

  .hamburger {
      display: block;
  }

}

@media screen and (max-width: 500px) {
  nav {
      padding: 3px 10px;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 18%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.title-card {
  width: 70%;
  height: 40%;
  left: -27%;
  position: absolute;
  background-color:#000000a2;
  top: 30%;
  opacity: 100%;
  border-radius: 330px;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

figure.sixteen-nine-img {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;
}

/* Caption text */
.text {
  color: rgb(212, 212, 212);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 8px 30px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: right;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5.4s;
}

@keyframes fade {
  0% {opacity: 0.1} 
  10% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0.1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/*Flex Features*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: space-around;
  align-items: center;
  background-color: var(--backcolor);
  font-family: "Montserrat", sans-serif;
}

.flex-item {
  /*border: 2px solid black;*/
  margin: 10px;
  color: white; 
  width: 45%;
}

.flex-item img {
  height: 230px;
  margin:20px;
}

.left-item {
  margin-left: 50px;
}

.right-item {
  margin-right: 50px;
}

@media (max-width: 1125px) {
  .left-item {
    margin-left: 0px;
  }
  .right-item {
    margin-right: 0px;
  }
}

@media (max-width: 700px) {
  .flex-item img {
    height: 190px;
  }
}

@media (max-width: 500px) {
  .flex-item img {
    height: 150px;
  }
}


.feature-title {
  margin:20px;
  color: rgb(212, 212, 212);
}

.feature-text {
  margin:20px;
  color: rgb(212, 212, 212);
  font-size: 20px;
}